---
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/config/site";
---

<section
  class="bg-[url('/images/hero-background.webp')] space-y-6 py-12 sm:py-20 lg:py-20"
>
  <div class="container flex max-w-5xl flex-col items-center gap-5 text-center">
    <h1
      class="text-balance text-primary font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]"
    >
      <span class="text-primary font-extrabold">
        <span class="underline text-accent">FOO</span>tprinting with <span
          class="underline text-accent">D</span
        >eam<span class="underline text-accent">I</span>nas<span
          class="underline text-accent">E</span
        >
      </span>
    </h1>

    <p class="max-w-2xl text-balance leading-normal sm:text-xl sm:leading-8">
      Mapping TFs’ specific binding sites along the human genome with
      single-base resolution by footprinting with deaminase (FOODIE).
    </p>

    <div class="flex justify-center space-x-2 md:space-x-4">
      <a
        href="/jbrowse2"
        rel="noreferrer"
        class={cn(buttonVariants({ size: "lg", rounded: "full" }), "gap-2")}
        target="_blank"
      >
        <span>Visualize</span>
        <Icon name="lucide:arrow-right" class="size-4" />
      </a>
      <a
        href="/downloads"
        class={cn(
          buttonVariants({
            variant: "outline",
            size: "lg",
            rounded: "full",
          }),
          "px-5",
        )}
      >
        <p>
          <span class="hidden sm:inline-block">Download</span> Data{" "}
          <!-- <span class="font-semibold">{nFormatter(stars)}</span> -->
        </p>
      </a>
    </div>
  </div>
</section>
