---
export const prerender = false;

import { DownloadsTabs } from "@/components/downloads-tabs";
import MainLayout from "@/layouts/main-layout.astro";
import PageHeader from "@/components/page-header.astro";
import type { DataFile } from "@/types";

const rawDataFiles: DataFile[] = [
  {
    fileName: "GM12878_fresh.R1.fastq.gz",
    fileSize: "34 GB",
    sample: "GM12878_fresh",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/GM12878_fresh.R1.fastq.gz",
    organism: "human",
  },
  {
    fileName: "GM12878_fresh.R1.fastq.gz",
    fileSize: "36 GB",
    sample: "GM12878_fresh",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/GM12878_fresh.R2.fastq.gz",
    organism: "human",
  },
];

const processedDataFiles: DataFile[] = [
  {
    fileName: "GM12878_fixed.bam",
    fileSize: "23 GB",
    sample: "GM12878_fixed",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fixed.bam",
    organism: "human",
  },
  {
    fileName: "GM12878_fixed.bam.bai",
    fileSize: "6.8 MB",
    sample: "GM12878_fixed",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fixed.bam.bai",
    organism: "human",
  },
];

const data = {
  human: {
    rawData: rawDataFiles,
    processedData: processedDataFiles,
  },
  mouse: {
    rawData: [],
    processedData: [],
  },
};
---

<MainLayout title="Downloads">
  <section class="container py-8">
    <PageHeader
      heading="Downloads"
      text="Raw data and processed data for download."
    />
    <DownloadsTabs downloads={data} client:load />
  </section>
</MainLayout>
