---
import MainLayout from "@/layouts/main-layout.astro";
import { FpSearchResultsTable } from "@/components/footprint-search-results/organism";
---

<MainLayout
  title="Footprint search results"
  description="Lorem ipsum dolor sit amet"
>
  <section class="space-y-5">
    <FpSearchResultsTable client:load />
  </section>
</MainLayout>
