---
import ExampleGrid from "@/components/example-grid.astro";
import PageHeader from "@/components/page-header.astro";
import { navMenuConfig } from "@/config/nav-menu";
import MainLayout from "@/layouts/main-layout.astro";

const data = navMenuConfig.dataNav[0].items;
---

<MainLayout title="">
  <div class="bg-background-200">
    <section class="container py-12">
      <PageHeader
        heading="Discovery"
        text="Differents pages and examples apps built with Astro v4.5, shadcn/ui & react js. Fully Open Source."
      />

      <ExampleGrid title="Data" items={data} />
    </section>
  </div>
</MainLayout>
