---
import ExampleGrid from "@/components/example-grid.astro";
import PageHeader from "@/components/page-header.astro";
import { navMenuConfig } from "@/config/nav-menu";
import MainLayout from "@/layouts/main-layout.astro";
import HeroHome from "@/components/sections/hero-home.astro";
import InfoLanding from "@/components/sections/info-landing.astro";
import { infos } from "@/config/landing";

const data = navMenuConfig.dataNav[0].items;
---

<MainLayout title="">
  <HeroHome />
  <section class="container py-12">
    <PageHeader
      heading="Overview"
      text="An individual’s somatic cells have the same genome but exhibit cell-type-specific transcriptome regulated by a combination of transcription factors (TFs) for each gene. Mapping of TF sites on the human genome is critically important for understanding functional genomics. Here we introduce a novel technique to measure human TFs’ binding sites genome-wide with single-base resolution by footprinting with deaminase (FOODIE). Single-molecule sequencing reads from thousands of cells after in situ deamination yielded site-specific TF binding fractions and the cooperativity among adjacent TFs."
    />
    <InfoLanding data={infos[0]} reverse={true} />
    <div>
      <h2 class="text-2xl text-foreground font-semibold">Acknowledgments</h2>
      <p class="mt-4 text-muted-foreground">
        This project is financially supported by Changping Laboratory, the
        Ministry of Science and Technology of China, and National Science and
        Technology Major Project (2022ZD0115004). The initiation work was made
        possible by the support from the Beijing Advanced Innovation Center for
        Genomics at Peking University.
      </p>
    </div>
  </section>
</MainLayout>
